.blurChat{
  position: fixed;
  background-image: url(https://cdn.shopify.com/s/files/1/0765/0807/products/mountain-wall-mural-peel-stick-152953_1800x1800.png.jpg?v=1666799212);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  z-index: -1;
  top: 0;
}

.backgroundChat .chat html{
    min-height: 100%;
    position: relative;
  }

  .backgroundChat .chat body {
    background-color: #c0c8d8;
    margin: 0;
    margin-bottom: 40px;
  }
  
  .backgroundChat .chat {
    text-align: center;
    max-width: 728px;
    margin: 0 auto;
    border-radius: 15px 50px !important;
    z-index: 1;
  }
  
  .backgroundChat .chat header {
    background-color: #2d2f3b;
    height: 10vh;
    min-height: 50px;
    color: white;
    position: relative;
    width: 100%;
    max-width: 728px;
    top: 0;
    display: flex;
    align-items: center;
    justify-content: space-between;
    z-index: 99;
    padding: 10px;
    box-sizing: border-box;
    border: 2px solid #fff;
    border-radius: 10px;
  }
  
  .backgroundChat .chat section {
     display: flex;
    flex-direction: column;
    justify-content: center;
    min-height: 85vh;
    background-color: rgb(61, 59, 69, .7);
    border-radius: 0px 0px 15px 15px;
   /* border: 2px solid #fff; */

  }
  
  .backgroundChat .chat main {
    padding: 10px;
    height: 80vh;
    margin: 0vh 0 5vh;
    overflow-y: scroll;
    display: flex;
    flex-direction: column;
  }
  
  .backgroundChat .chat form {
    height: 10vh;
    position: fixed;
    bottom: 0;
    background-color: rgb(24, 23, 23);
    /* background-color: rgb(24, 23, 23); */
    width: 100%;
    max-width: 728px;
    display: flex;
    font-size: 1.5rem;
    z-index: 2;
    
  }
  
  .backgroundChat .chat form button {
    width: 20%;
    background-color: rgb(65, 65, 93);
    border: 2px solid;
  }
  
  
  .backgroundChat .chat .inputChat {
    line-height: 1.5;
    width: 100%;
    font-size: 1.5rem;
    background: rgba(119, 124, 167, 0.501);
    /* background: rgba(119, 124, 167, 0.501); */
    background-color: rgba(0, 0, 0);
    color: white;
    outline: none;
    border: none;
    padding: 0 10px;
    padding-left: 40px;
    border: 2px solid;
    border-radius: 5px;

  }
  
  .backgroundChat .chat button {
    background-color: #282c34;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    cursor: pointer;
    font-size: 1.25rem;
    
  }
  
  .backgroundChat .chat button:disabled {
    opacity: 0.5;
    cursor: not-allowed;
  }
  
  
  .backgroundChat .chat .sign {
    max-width: 400px;
    margin: 0 auto;
    border: 2px solid #fff !important;
  }

  .backgroundChat .chat ul, .backgroundChat .chat li {
    text-align: left;
    list-style: none;
  }
 
  .backgroundChat .chat .parrafo {
    max-width: 500px;
    margin-bottom: 12px;
    line-height: 24px;
    padding: 10px 20px;
    border-radius: 25px;
    position: relative;
    color: white;
    text-align: center;
  }
  

  .messageInbox {
    display: flex;
  }

  
  .chat .sent {
    flex-direction: row-reverse;
  }
  
  .chat .sent p {
    color: white;
    background: #0b93f6;
    align-self: flex-end;
  }
  .chat .received p {
    background: #e5e5ea;
    color: black !important;
  }
  
  .chat .avatarChat {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    margin: 2px 5px;
    z-index: 2;
    filter: none;
    position: relative;

  }
  
  /* footer{
    display: none;
  } */
 