body .contentRegister {
  overflow-y: hidden;
  margin: 0;
  padding: 0;
  height: 100%;
}
.blurRegister {
  position: absolute;
  margin: -50px;
  padding: -50px;
  top: -20px;
  left: -20px;
  right: -40px;
  bottom: -40px;
  width: auto;
  height: auto;
  background-image: url(https://img.freepik.com/fotos-premium/pintura-paisaje-acuarela-globos-aerostaticos_49537-310.jpg?w=826);
  /* background-image: url(https://picsum.photos/400/200?grayscale); */
  filter: blur(10px);
  background-size: cover;
  z-index: 0;
}

.innerContentRegister {
  position: relative;
  z-index: 1;
}

.button{
    background-color: rgba(126, 149, 150, 0.495) !important;
}
.button:hover{
  background-color: rgba(21, 194, 203, 0.862) !important;
}

.headerRegister span {
  background-color: rgba(126, 149, 150, 0.495);
  position: absolute;
  top: -160px;
  left: -120px;
  z-index: 2;
  border: 2px solid #000;
  color: rgb(52, 60, 88);
  width: 300px;
}
.headerRegister img {
  transform: scale(5);
  padding: 5px;
  justify-content: center;
  background-color: rgba(126, 149, 150, 0.495) !important;
}
.ui.message.msgRegister{
    position: static;
    border: 3px solid #000;
    margin-top: 60px !important;
    margin-left: 250px !important;
    color: aliceblue !important;
    background-color: rgba(126, 149, 150, 0.495) !important;
}
.ui.message.msgRegister a{
    color: rgb(11, 41, 67);
}
.ui.message.msgRegister a:hover{
    color: aliceblue !important;
}
.ui.message{
    top: -80px !important;
}
/* .register{
    padding-top: 30px !important;
	position: absolute;
	top: calc(50% - 75px);
	left: calc(50% - 50px);
	height: 150px;
	width: 350px;
	padding: 10px;
	z-index: 2;   
    
} */

div.ui.segment {
  margin-left: 150px;
  background-color: rgba(126, 149, 150, 0.495) !important;
  border: 3px solid #000;
}

/* div .ui.message{
    position: absolute;
    top: -50px;
    left: 100px;
    background-color: rgba(220, 20, 60, 0.601);
    border: 10px solid rgba(220, 20, 60, 0.601);
    color: aliceblue;
} */
