.backgroundUnirse {
  position: fixed;
  background-image: url(https://cdn.shopify.com/s/files/1/0765/0807/products/mountain-wall-mural-peel-stick-152953_1800x1800.png.jpg?v=1666799212);
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  width: 100vw;
  height: 100vh;
  filter: blur(5px);
  z-index: -1;
  top: 0;
}

.contentUnirse {
  position: relative;
  z-index: 1;
  min-height: 700px;
}

.extra.content {
  display: grid !important;
  justify-items: center !important;
  padding: 5px !important;
}


/* NUEVO ESTILO PARA LOS EVENTOS */
.events-list {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-gap: 16px;
  margin: 20px;
}

.event-card {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 16px;
  background-color: rgb(255,255,255,.4);
  border-radius: 8px;
  box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
}

.event-card img {
  width: 100%;
  height: 200px;
  object-fit: contain;
  border-top-left-radius: 8px;
  border-top-right-radius: 8px;
}

.event-card h3 {
  margin-top: 16px;
  font-size: 18px;
  font-weight: 500;
}

.event-card p {
  margin-top: 8px;
  font-size: 14px;
  text-align: center;
}